<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="notification" mat-icon-button class="m-r-10" class="Notifications">
    <mat-icon>notifications</mat-icon>
    <div class="notify">
        <span class="heartbit"></span>
        <span class="point">{{notifications.length}}</span>
    </div>
</button>
<mat-menu #notification="matMenu" class="mymegamenu">
    <div class="mailbox">
        <ul>
            <li>
                <div class="drop-title">Notifications</div>
            </li>
            <li>
                <div class="message-center">
                    <perfect-scrollbar [config]="config">
                        <!-- Message -->
                        <a href="#" *ngFor="let notification of notifications">
                            <div class="round {{notification.round}}">
                                <i class="{{notification.icon}}"></i>
                            </div>
                            <div class="mail-content">
                                <h5>{{notification.title}}</h5>
                                <span class="mail-desc">{{notification.subject}}</span>
                                <span class="time">{{notification.time}}</span>
                            </div>
                        </a>

                    </perfect-scrollbar>
                </div>
            </li>

        </ul>
    </div>
</mat-menu>

<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

    <a [matMenuTriggerFor]="profile" class="font-16">
        <i class="fa fa-caret-down font-12 m-l-10"></i>
        <span class="font-14 m-l-10">اهلا </span>
        عبد العزيز الفهد السعودى
    </a>

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <img src="assets/images/users/2.png" alt="user" class="profile-pic"> 

   
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> إعدادات المستخدم </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> الملف الشخصى </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> الغاء الإشعارات </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> تسجيل الخروج </button>
</mat-menu>